.form-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
  /* align-items: flex-start; */
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
