body {
  background-color: rgb(52, 52, 52);
}
.App {
  text-align: center;
  width: 300px;
  margin: auto;
  background-color: rgb(227, 246, 249);
  padding: 50px 30px 8px 30px;
  margin-top: 60px;
  border-radius: 3px;
}

hr {
  margin: 50px 50px 30px 50px;
}
