body {
  background-color: rgb(52, 52, 52);
}
.App {
  text-align: center;
  width: 300px;
  margin: auto;
  background-color: rgb(245, 224, 199);
  padding: 50px 30px 8px 30px;
  margin-top: 40px;
  border-radius: 3px;
}
